#paragraphe {
padding:0.5em;
text-indent:10em;

}

ul {
    list-style: none;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 1em;
    text-indent: -1em;
   }

#image {

	background-image= url("/img/PageAccueil.jpg");
}